:root
{
    /* Common Fonts */
    --font-style-1: 'Luxurious Roman';
    --font-style-2: 'Indie Flower';
    --font-style-3: 'Open Sans Condensed';
    --font-style-4: 'Quicksand';
    --font-style-5: 'Roboto';

    /* Common Colors */
    --color-blue: rgb(137, 196, 216);
    --color-dodger-blue: dodgerblue;
    --color-med-blue: mediumblue;
    --color-white: white;
    --color-black: black;
    --color-navy: navy;
    --color-coral: coral;
    --color-cdt-blue: cadetblue;
    --color-lgt-blue: #D3E4FE;
}

body
{
    background-color: var(--color-lgt-blue);
    overflow-x: hidden;
}

.btn-back
{
    float: right;
    margin-right: 100px;
    margin-top: -70px;
    font-family: var(--font-style-4);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    border: 0px solid;
    border-radius: 20px;
    background-color: var(--color-med-blue);
    color: var(--color-white);
    height: 35px;
    width: 35px;
}

.img-back
{
    float: right;
    margin-top: -1.2px;
    margin-right: 1.2px;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
}

.btn-back:hover
{
    background-color: var(--color-coral);
}

.btn-back:active
{
    background-color: var(--color-dodger-blue);
}

.col-contact-card
{
    margin-left: 30rem;
    margin-top: 6rem;
}

.col-contact-form
{
    background-color: var(--color-white);
    height: 550px;
    width: 650px;
}

.col-form-heading
{
    font-family: var(--font-style-4);
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-dodger-blue);
    margin-left: 100px;
}

.txtFirstName
{
    margin-left: 100px;
    height: 40px;
    width: 200px;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.txtFirstName::placeholder, .txtLastName::placeholder, .txtEmail::placeholder,
.txtPhone::placeholder, .txtCmpName::placeholder, .txtDesignation::placeholder,
.txtMessage::placeholder
{
    color: var(--color-navy);
    font-family: var(--font-style-4);
    font-weight: 600;
}

.txtLastName
{
    margin-left: 10px;
    height: 40px;
    width: 200px;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.txtEmail
{
    margin-left: 100px;
    height: 40px;
    width: 200px;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.txtPhone
{
    margin-left: 10px;
    height: 40px;
    width: 200px;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.txtCmpName
{
    margin-left: 100px;
    height: 40px;
    width: 430px;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.txtDesignation
{
    margin-left: 100px;
    height: 40px;
    width: 430px;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.txtMessage
{
    margin-left: 100px;
    height: 70px;
    width: 430px;
    resize: none;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-blue);
    padding-left: 16px;
    margin-bottom: 10px;
}

.btn-submit
{
    margin-left: 260px;
    background-color: var(--color-med-blue);
    height: 40px;
    width: 120px;
    border: 0px solid;
    border-radius: 20px;
    color: var(--color-white);
    text-transform: capitalize;
    cursor: pointer;
}

.btn-submit:hover
{
    background-color: var(--color-coral);
}

.btn-submit:active
{
    background-color: var(--color-cdt-blue);
}

.box-8
{
    margin-top: 140px;
    margin-left: 120px;
    text-align: center;
    font-family: var(--font-style-4);
    font-weight: 100;
    color: var(--color-lgt-black);
    font-size: 16px;
}

.box-8 h4
{
    font-weight: 400;
}

.col-pc
{
    text-transform: capitalize;
    margin-bottom: -10px;
}

.bml
{
    color: var(--color-lgt-black);
    text-underline-offset: 4px;
    text-transform: capitalize;
}

.bml:hover
{
    text-decoration-color: var(--color-coral);
}