:root
{
    /* Common Fonts */
    --font-style-1: 'Luxurious Roman';
    --font-style-2: 'Indie Flower';
    --font-style-3: 'Open Sans Condensed';
    --font-style-4: 'Quicksand';
    --font-style-5: 'Roboto';

    /* Common Images */
    /* Common Colors */
    --color-lgt-gray: lightgray;
    --color-med-gray: gray;
    --color-dark-gray: rgb(95, 91, 91);
    --color-lgt-grey: rgb(204, 199, 199);
    --color-white: #FFF;
    --color-black: #000;
    --color-lgt-black: rgb(105, 105, 105);
    --color-dodger-blue: dodgerblue;
    --color-lgt-blue: #D3E4FE;
    --color-dark-orchid: darkorchid;
    --color-blue: rgb(137, 196, 216);
    --color-orchid: rgb(223, 177, 221);
    --color-purple: rgb(206, 202, 206);
    --color-navy-blue: navy;
    --color-dark-blue: mediumblue;
    --color-coral: coral;
}

body
{
    background-color: var(--color-white);
}

.backgound-img
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 700px;
}

.col-header
{
    /* I'm using Quicksand Font, can be changed as per Client's Perspective */
    font-family: var(--font-style-4);
}

.col-logo-display
{
    float: left;
    height: 45px;
    width: 45px;
    margin-top: 12px;
    margin-left: 20px;

    /* If using a transparent logo image make sure the text of the logo
    is white, if overlayed on image or video or choose a white
    background image */
}

/* If you want to use an Pathway Creators or any brand icon with the
icon and brandname next to it, then uncomment the line.

If you want to use the brand logo with the icon and the brandname
already present in it then let this line be commented along with the
html code. */

.col-text-1, .col-text-2
{
    float: left;
    text-transform: capitalize;
    font-size: 24px;
    color: var(--color-white);
}

.col-text-1
{
    margin-left: 10px;
    margin-top: 18px;
}

.col-text-2
{
    margin-left: 10px;
    margin-top: 18px;
}


.col-menu
{
    float: right;
    margin-right: 40px;
}

.menu-home, .menu-accom, .menu-price, .menu-contact, .menu-about
{
    float: left;
    color: var(--color-white);
    margin-top: 26px;
    font-size: 15px;
    text-transform: uppercase;
}

.menu-home
{
    margin-left: 160px;
}

.menu-accom, .menu-price, .menu-contact, .menu-about
{
    margin-left: 15px;
}

.col-menu a
{
    color: var(--color-lgt-gray);
    text-decoration: none;
    font-weight: 500;
}

.menu-home a.active, .menu-home a:hover
{
    color: var(--color-white);
}

.menu-accom a.active, .menu-accom a:hover
{
    color: var(--color-white);
}

.menu-price a.active, .menu-price a:hover
{
    color: var(--color-white);
}

.menu-contact a.active, .menu-contact a:hover
{
    color: var(--color-white);
}

.menu-about a.active, .menu-about a:hover
{
    color: var(--color-white);
}

.col-fas
{
    float: left;
    margin-top: 29px;
    margin-left: 10px;
    margin-right: -8px;
    transform: rotate(72deg);
    opacity: 75%;
    size: 2px;
    height: 14px;
    width: 10px;
}

.col-main-h1
{
    float: left;
    margin-left: 320px;
    color: var(--color-white);
    font-size: 75px;
}

.col-main-h3
{
    float: left;
    margin-left: 600px;
    margin-top: -40px;
    color: var(--color-white);
    font-family: var(--font-style-4);
    font-size: 25px;
    font-weight: 400;
}

.col-contact-info
{
    padding-top: 48rem;
    font-family: var(--font-style-4);
}

.pc-googleMap iframe
{
    margin-left: 300px;
    width: 600px;
    height: 350px;
    border: 0;
}

.img-address
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -355px;
    margin-right: 540px;
}

.col-cname
{
    float: right !important;
    margin-right: 310px;
    margin-top: -355px;
}

.col-address
{
    font-size: 15px;
    margin-top: 8px;
    font-weight: 200;
    color: var(--color-lgt-black);
}

.img-phone
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -290px;
    margin-right: 540px;
}

.col-phone
{
    float: right;
    margin-right: 270px;
    margin-top: -290px;
    font-size: 18px;
    font-weight: 500;
}

.img-mail
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -245px;
    margin-right: 540px;
}

.col-mail
{
    float: right;
    margin-right: 314px;
    margin-top: -245px;
    font-size: 16px;
}

.img-info
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -204px;
    margin-right: 540px;
}

.col-info
{
    float: right;
    margin-right: 320px;
    margin-top: -204px;
    font-size: 16px;
}

.img-whatsapp
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -163px;
    margin-right: 540px;
}

.col-whatsapp
{
    float: right;
    margin-right: 406px;
    margin-top: -160px;
    font-size: 16px;
}

.img-facebook
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -120px;
    margin-right: 540px;
}

.img-twitter
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -120px;
    margin-right: 500px;
}

.img-instagram
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -120px;
    margin-right: 460px;
}

.img-youtube
{
    height: 30px;
    width: 28px;
    float: right;
    margin-top: -122px;
    margin-right: 420px;
}

.img-linkedin
{
    height: 26px;
    width: 26px;
    float: right;
    margin-top: -120px;
    margin-right: 380px;
}

.img-facebook:hover, .img-twitter:hover, .img-instagram:hover,
.img-linkedin:hover
{
    border-bottom: 2px solid;
    border-color: var(--color-dark-gray);
    padding-bottom: 4px;
}

.img-youtube:hover
{
    border-bottom: 2px solid;
    border-color: var(--color-dark-gray);
    padding-bottom: 1px;
}

.col-contact
{
    margin-top: 80px;
    margin-left: 600px;
}

.col-reach-out
{
    border: 0px solid;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    text-transform: capitalize;
}

.col-reach-out:hover
{
    background-color: var(--color-coral);
}

.col-reach-out:active
{
    background-color: var(--color-blue);
}

.col-redirect
{
    text-decoration: none;
    color: var(--color-white);
}

.box-8
{
    margin-top: 140px;
    text-align: center;
    font-family: var(--font-style-4);
    font-weight: 100;
    color: var(--color-lgt-black);
    font-size: 16px;
}

.box-8 h4
{
    font-weight: 400;
}

.col-pc
{
    text-transform: capitalize;
    margin-bottom: -10px;
}

.bml
{
    color: var(--color-lgt-black);
    text-underline-offset: 4px;
    text-transform: capitalize;
}

.bml:hover
{
    text-decoration-color: var(--color-coral);
}